{{!-- /******************************************************************************
***
* ITE5315 – project
* I declare that this assignment is my own work in accordance with Humber Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: Student ID: N01540305 Date: 11th April 2024
*
*
******************************************************************************
**/ --}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="header">
        <h1>Jaykumar Patel - N01540305</h1>
        <p>Project</p>
    </header>

    <main id="content">
        {{{body}}}
    </main>

    <footer id="footer">
        <a href="https://github.com/JaykumarPatel1998" target="_blank">https://github.com/JaykumarPatel1998</a>
    </footer>
  </body>
</html>